.hero-container {
  background-color: #f4f1ea; /* Um bege bem clarinho */
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-family: 'Times New Roman', serif;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 25px;
  color: #666;
}